
  
  .spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(
      from 180deg at 50% 50%,
      var(--dark-blue) 0deg,
      var(--light-blue) 360deg
  );
    animation: spin 2s infinite linear;
  }
  .spinner::before {
    content: "";
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: var(--rose700);
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }