.auth-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--white);
    color: var(--dark-blue);
    font-size: 14px;
}
.auth-header > h2 {
    text-decoration: underline;
}


.user-icon {
    padding: 8px;
    background-color: var(--dark-blue);
    border-radius: 100px;
    border: 1px solid var(--gray);
    font-size: 14px;
    font-weight: 700;
    color: var(--gray);
}

@media (max-width: 768px){
    
}