.auth-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--white);
    color: var(--dark-blue);
    font-size: 14px;
}


.auth-header > .brand {
    text-decoration: underline;
    font-size: 18px;
}

