.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    
}
.footer > p {
    color: var(--dark-blue);
    font-size: 12px;
}


