

.authpage-section {
  display: flex;
  justify-content: center;
  align-items: center;
}




@media (max-width: 768px) {
 
}

@media (min-width: 1280px), (min-width: 768px) {
  
}



.gallery-container {
 margin: 2rem 0;
}

.items-form {
  border-bottom: 1px solid var(--dark-blue);
  margin-bottom: 3rem;
  width: 100%;
}
.items-form > input{
    height: 40px;
    font-size: 14px;
    border: none;
    outline: none;
    color: var(--dark-blue);
    width: 100%;

  
}
/* .items-form > button{
  padding: 0.4rem 0.6rem;
  max-width: 100px;
} */


.item-container {
  display: flex;
  gap: .5rem;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 425px){
  .item-container{
    justify-content: center;
  }
}

.item {
  padding: 5px;
  border-radius: 10px;
  font-size: 10px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 0, 0, 0.5);
}
.item:hover {
  cursor: pointer;
}
.item.dragging {
  background-color: var(--accent-color);
}
.item-id {
  font-size: 12px;
  position: absolute;
  color: var(--dark-blue);
  z-index: 10;
  border: 2px solid var(--gray);
  border-radius: 100%;
  background-color: var(--accent-color);
  padding: .3rem;
  top: 0;
  left: 0px;
}
.found-img {
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}

